.sidebar {

  width: 260px;
  min-height: 100vh;

  background:
    rgba(15,20,31,0.85);

  border-right:
    1px solid rgba(255,255,255,0.08);

  backdrop-filter:
    blur(20px);

  padding: 30px 20px;

  display:flex;
  flex-direction:column;

  position:fixed;
  left:0;
  top:0;

}


.brand {

  margin-bottom:50px;

}


.brand h2 {

  font-size:32px;
  font-weight:800;

  color:white;

}


.brand span {

  color:#f5c542;
  font-size:14px;

}



.nav-menu {

  display:flex;
  flex-direction:column;
  gap:10px;

}



.nav-menu a {

  padding:14px 18px;

  border-radius:12px;

  color:#9ca8ba;

  transition:.25s;

}



.nav-menu a:hover {

  background:#1d2638;

  color:white;

}



.nav-menu .active {

  background:
    linear-gradient(
      135deg,
      #f5c542,
      #dca900
    );

  color:#111;

  font-weight:700;

}



.sidebar-footer {

  margin-top:auto;

}



.user-box {

  background:#151c2b;

  border:
    1px solid rgba(255,255,255,.08);

  padding:15px;

  border-radius:15px;

  display:flex;
  flex-direction:column;

}



.user-box span {

  color:#9ca8ba;

  font-size:14px;

}.nav-menu a.active {
  background: linear-gradient(
    135deg,
    #f5c542,
    #dca900
  );

  color:#111;
  font-weight:700;
}